.navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-links {
    background-color: #202030;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #635c51;
    padding: 5px;
}

.nav-link:hover {
    color: #7d7461;
}

body {
    background-color: #39304a;
    color: #b0a990;
}