.carousel {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-img {
    width: 400px;
    height: 500px;
}

.arw-btn {
    border: none;
    filter: invert(1);
    background-color: transparent;
}

.arw-btn img {
    height: 24px;
}

.arrow-prev {
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.arrow-next {
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.arrow-next:hover,
.arrow-prev:hover {
    filter: invert(0);
}

.poster {
    opacity: 0;
    transition-duration: 1s ease;
}

.poster.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}